{{> guest/header }}

<body>

    <!-- Navigation -->
    {{> guest/top-navigation }}


    <!-- Page Content -->
    <div class="container">
        {{> guest/messages}}
        {{{ body }}}

    </div>
    {{> guest/footer }}